.navbar {
  height: 70px;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Add background transition */
}

.navbar.at-top {
  background: transparent; /* Transparent background at the top */
}

.navbar.scrolled {
  background-color: rgba(220, 38, 38, 0.85); /* Solid dark background when scrolled */
}

.navbar.visible {
  transform: translateY(0);
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Hamburger Wrapper */
.navbar-hamburger-wrapper {
  display: flex;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
  z-index: 20;
}

.navbar-hamburger-wrapper.closed {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-hamburger-wrapper.inside-links {
  position: static;
  transform: none;
  margin-right: 1rem;
}

.navbar-hamburger-wrapper span {
  background: #fff;
  border-radius: 10px;
  height: 3px;
  margin: 3px 0;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-hamburger-wrapper span:nth-of-type(1) {
  width: 50%;
}

.navbar-hamburger-wrapper span:nth-of-type(2) {
  width: 100%;
  transition-delay: 0.05s;
}

.navbar-hamburger-wrapper span:nth-of-type(3) {
  width: 75%;
}

.navbar-hamburger-wrapper input[type="checkbox"] {
  display: none;
}

.navbar-hamburger-wrapper input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotateZ(45deg) translate(3px, 0px);
  opacity: 0.9;
}

.navbar-hamburger-wrapper input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotateZ(-45deg);
  opacity: 0.9;
  transition-delay: 0.05s;
}

.navbar-hamburger-wrapper input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(12px, -5px) rotateZ(45deg);
  opacity: 0.9;
}

/* Desktop Links */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.navbar-links-left,
.navbar-links-right {
  display: flex;
  gap: 2rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navlink-container {
  position: relative;
  display: inline-block;
}

.navlink-underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dc2626;
  transition: width 0.3s ease-in-out;
}

.navlink-underline.active {
  width: 100%;
}

.navbar-links a {
  color: #ffffff !important;
}

/* Mobile Menu */
.navbar-mobile-menu {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0px !important;
  width: 100%;
  background-color: rgba(220, 38, 38, 0.85);
  padding: 4rem 1rem;
  z-index: 10;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    text-align: left;
  }

  .navbar-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-mobile-menu .navlink-underline.active {
    background-color: #ffffff; /* Change underline to white in mobile view */
  }

  .navbar-hamburger-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: 24px;
  }

  .navbar-hamburger-wrapper span {
    height: 2.5px;
    margin: 2.5px 0;
  }

  .navbar-hamburger-wrapper input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform: rotateZ(45deg) translate(2.5px, 0px);
    opacity: 0.9;
  }

  .navbar-hamburger-wrapper input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    opacity: 0.9;
  }

  .navbar-hamburger-wrapper input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform: translate(10px, -4px) rotateZ(45deg);
    opacity: 0.9;
  }

  .navbar-hamburger-wrapper.inside-links {
    display: none;
  }
}