@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial", sans-serif;
}

.slick-dots {
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 1.5rem !important;
}

.slick-dots li {
  margin: 0 0.5rem !important;
}

.slick-dots li button:before {
  font-size: 0 !important;
  width: 12px !important;
  height: 12px !important;
  background-color: #d1d5db !important;
  border-radius: 50% !important;
  content: "" !important;
}

.slick-dots li.slick-active button:before {
  background-color: #dc2626 !important;
}

.slick-slide {
  padding: 0 !important;
}

.slick-center {
  transform: none !important;
}

.testimonial-slide {
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.testimonial-slide.fade-out {
  opacity: 0;
  animation: fadeOut 0.75s ease-in-out forwards;
}

.testimonial-slide.fade-in {
  opacity: 0;
  animation: fadeIn 0.75s ease-in-out 0.75s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}





/* WebKit Browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Optional: light background for contrast */
}

::-webkit-scrollbar-thumb {
  background-color: #14191F;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1c2229; /* Slightly lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #14191F transparent;
}
